/**
 * @name OldCord
 * @version 2.1
 * @author milbit, kinggamingyt
 * @source https://github.com/milbits/oldcord
 * @website https://github.com/milbits/oldcord
 * @description Restores discord's 2020 UI
 */

/*Everything in one*/
/*@import url("https://milbits.github.io/oldcord/src/main.css");

/* If you want to enable/disable each part (like disable profile theming), remove the above line and a [slash]* below. */
/*@import url("https://milbits.github.io/oldcord/src/components/redesign.css");
@import url("https://raw.githubusercontent.com/OTTO-O-MESTRE/OC/refs/heads/main/MAIN.CSS");

@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/color.css");
@import url("https://milbits.github.io/oldcord/src/components/imgs.css");
@import url("https://milbits.github.io/oldcord/src/components/other.css");
@import url("https://milbits.github.io/oldcord/src/components/profile.css");
@import url("https://milbits.github.io/oldcord/src/components/oldEmojis.css");
@import url("https://milbits.github.io/oldcord/src/components/oldContext.css");



 /*
  * Addons
  * remove a "/*" below to enable one
  */
 profile cosmetics! woah! funky banners and colors and nametags and stuff! so cool! */
   /*@import url("https://milbits.github.io/oldcord/src/components/showEffects.css");*/
/* Clan tags ( [🗡️CLAN] )*/
  /*@import url("https://milbits.github.io/oldcord/src/components/showTags.css");*/ 


* The old 🥺🥹 */
   /*;*/
* Old color when you use right click menus*/
   /*@import url("https://milbits.github.io/oldcord/src/components/oldContext.css");*/

:root{
 --oldcord-tint: 210; /*Light mode tint. Has to be hue in HSL*/
 --oldcord-tint-intensity: 11.11; /*Tint intensity/Saturation. 0 for grayscale, 10000 for an awesome party*/
 
 --reaction-animation: 0; /*animation when someone reacts. 0 off 1 on. buggy.*/
}
